@import '../../node_modules/bulma/sass/utilities/_all.sass';
// @import "../../node_modules/bulma/sass/base/_all.sass";

// elements
// @import "../../node_modules/bulma/sass/elements/_all.sass";
@import '../../node_modules/bulma/sass/elements/table.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';

// grid
@import '../../node_modules/bulma/sass/grid/_all.sass';

// layout
@import '../../node_modules/bulma/sass/layout/_all.sass';

// components
// @import "../../node_modules/bulma/sass/components/_all.sass";
@import '../../node_modules/bulma/sass/components/level.sass';

@import './neon.css';
@import './card.scss';

body {
  text-align: center;
  color: #eee;
  font-size: 11px;
  background-color: #231a17;
  font-family: 'Press start 2P', serif;
  margin: 0;
}

.App > .container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App > .container > header {
  flex: 0;
  padding: 1rem;
}
.App > .container > footer {
  flex: 0;
  padding: 1rem;
}

.App > .container > main {
  flex: 1;
  padding: 1rem;
}
